# credentials
credentials.txt

# cache, logs etc
__pycache__/
*.log
.DS_Store
.ipynb_checkpoints/
.Rproj.user
.Rhistory
.RData
*.Rproj
sujet.pdf
thesis.Rmd
*.R

# virtual environment
/.venv/

# jupyter notebook
*.ipynb