/* styles.css */

/* Page body */
body {
  background-color: #333; /* background color */
  color: white; /* text color */
  font-family: "Gill Sans", sans-seri; /* Font family */
}


/* Links */
a {
  color: #fca43f; /* Light text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease-in-out; /* Add transition for hover effects */
}
a:hover {
  color: #f23838; /* Dark text color */
  text-decoration: none; /* Remove underline */
}



/* Tabs */
ul.nav.navbar-nav {
  color: #000000; /* text color */
  font-size: 20px; 
}



/* HomePage container */
.home {
  margin: 0 auto;
  padding: 20px;
}
.home-title h1 {
  font-size: 50px; /* Larger font size for the title */
  font-weight: bold; /* Bold font weight for the title */
}
.home-description {
  font-size: 22px; /* Larger font size for the description */
}



/* Keywords displayed */
.keywords-display-output {
  font-size: 20px; /* Larger font size for the keywords */
  color: white; /* text color */
}



/* Rendered table output */
.dataTables_wrapper {
  font-size: 15px; /* larger font size for the data table */
  background-color: #4d4d44; /* background color */
  color: white; /* text color */
  padding: 10px; /* Add some padding for aesthetics */
  max-width: 100%;
  overflow-x: auto;
  text-align: left;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
}
.clickable-row {
  cursor: pointer;
}


/* Sidebar */
.sidebar .sidebar-content {
  color: #000000; 
  font-size: 16px; 
}
.sidebar :not(.main) {
  background-color: #4d4d44; 
  color: #ffffff; 
}
.sidebar-content input[type="text"] {
  background-color: #ffffff; 
  color: #000000; 
  font-size: large; 
  padding: 5px; 
}
.resume-upload {
  margin: 5px;
  margin-top: 25px;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}
.keyword-input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}
.well {
  border-style: none;
}
.col-sm-3 {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  margin-left:10px;
}




/* copy cover letter button */
.copy-container{
  position: relative;
  margin: 10px;
  margin-top: 35px;
  padding: 5px;
}
.copy-btn {
  position: absolute;
  bottom: 1px;
  right: 1px;
  font-size: medium;
}



/* display of the cover letter */
.btn-primary {
  font-size: medium;
}
pre {
  white-space: pre-wrap;
  word-break: break-word;
  padding: 12px;
  margin: 5px;
  color: white;
  font-size: 14px;
  background-color: #4d4d44;
  font-family: "Gill Sans", sans-seri;
  text-align: justify;
}



/* work in progress spinner */
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #76d863;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  z-index: 100;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.hidden { display: none; }




/* footer */
.footer-content {
 font-size: 18px; 
 margin-left: 20px;
 font-style: italic;
}



/* pop up modal */
.modal-content {
  background-color: #fefefe;
  color: #000000;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 120%;
  margin-top: 100px;
}
div.modal-header {
  background-color: #4d4d44;
  color: #fefefe;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}
div.modal-title {
  margin-bottom: 10px;
}
div.modal-body {
  padding: 10px;
  font-size: 16px;
  font-style: justify;
}